[submodule "neobundle.vim"]
	path = neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim-monokai"]
	path = vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
